
/*HEADER*/

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 10%;
  border-bottom: 1px solid lightgrey;
}

.nav {
  width: 50%;
  text-align: right;
}

.navlink {
  text-align: right;
}

.navlink a {
  text-decoration: none;
  color: black;
  font-family: 'Dosis', sans-serif;
  padding:2px 5px;
  border: 1px solid lightgrey;
}

.navlink a:hover {
  background-color: black;
  color: white;
}

.logo {
  width: 50%;
  text-align: left;
}

.logo img {
  width: 20%;
}

/*BODY*/

.container {
  margin: 0 10%;
  padding: 0 2%;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  font-family: 'Dosis', sans-serif;
}

.greeting {
  text-align: right;
}

.bodynav {

}

.graphbar {
  display: flex;
}

text {
  padding-left: 10px;
}

.activesmall {
  display: block;
}