{% extends 'layout.html' %}

{% block content %}

  <div class='bodynav'>

    <div class="bodynav-browse"><a href="/stream">Browse Polls</a></div><br />
    <div class="bodynav-create"><a href="/new_poll">Create Poll</a></div><br />
    <div class="bodynav-code">
      Go to specific poll:
      <form>
        <input type="text" id="hashcode" name="hashcode" placeholder="Enter invite code" />
        <button id="btn" type="submit">Submit</button>
      </form> 
    </div>

  </div>

{% endblock %}