<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="logo">
      <img src="https://static1.squarespace.com/static/5a344b4d9f07f5aac262dd13/t/5bae6c378165f51becfa1075/1550826211407/?format=1500w">
    </div>
    <div class="nav">
      <div class = "loginlogout">
          {% if current_user.is_authenticated %}
              <span class="navlink"><a href="{{url_for('index')}}" title="index">Home</a></span> 
              <span class="navlink"><a href="{{url_for('stream')}}" title="stream">Browse Polls</a></span>
              <span class="navlink"><a href="{{url_for('new_poll')}}" title="new_poll">Create Poll</a></span>
              <span class="navlink"><a href="{{url_for('user_page')}}" title="logout">My Account</a></span>
              <span class="navlink"><a href="{{url_for('logout')}}" title="logout">Logout</a></span>
          {% else %}
              <span class="navlink"><a href="{{url_for('index')}}" title="index">Home</a></span>
              <span class="navlink"><a href="{{url_for('stream')}}" title="stream">Browse Polls</a></span>
              <span class="navlink"><a href="{{url_for('login')}}" title="login">Login</a></span>
              <span class="navlink"><a href="{{url_for('register')}}" title="register">Register</a></span>
          {% endif %} 
      </div>
    </div>
  </header>
  <div class="container">
    <div class = "greeting">
        <h3>{% if current_user.is_authenticated %}
                Welcome, {{current_user.username}}
            {%endif%}
        </h3>
    </div>
    <br><br>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

  </div>
  <script src="../static/app.js"></script>
</body>
</html>