{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="newpoll"></div>
  <form action="" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form %}
    
      <h4>{{ 'Expiration date:' if field.__dict__['id'] == 'expiration_date' else '' }}</h4> 
      <h4>{{ 'Expiration time:' if field.__dict__['id'] == 'expiration_time' else '' }}</h4> 
      <h4>{{ 'Is this poll public or private?' if field.__dict__['id'] == 'private' else '' }}</h4>
      {{render_field(field)}}
      
    {% endfor %}
    <button type="submit">Submit Poll</button>
  </form>
</div>
{% endblock %}