{% extends 'layout.html' %}

{% block content %}
    
    <h4>Invitation code: <b>{{poll.hashcode}}</b></h4>
    <div>
      <h2>{{poll.question}} | <small>Created: {{poll.date.strftime('%m/%d/%Y')}} </small> </h2>
    </div>
      
  {% for response in responses %} 

    {% if response.text != '' %}
      {% if vote %}

        <style type="text/css">
          @keyframes bar-anim {
            from {width: 0;}
          }
        </style>

        <div class="bar">
          <p>{{response.sequence}}. {{response.text}}: {{votecount[response.sequence - 1]}} {{'vote' if votecount[response.sequence - 1] == 1 else 'votes'}}.</p>
          <div class="graphbar">
            <div style="
              background-color:blue; 
              height:20px; 
              width: {{(vote_percentages[response.sequence - 1])}}%;
              animation-name: bar-anim;
              animation-duration: 1.5s;
              animation-fill-mode: forwards;
            "></div>
            <text>{{vote_percentages[response.sequence - 1]}}%</text>
          </div>

        </div>

      {% else %}
        <p>{{response.sequence}}. <a href="/stream/{{poll.hashcode}}/vote/{{response.id}}">{{response.text}}</p></a>

      {% endif %}
    {% endif %}

  {% endfor %}
  <br>
  <a href="/stream/{{poll.hashcode}}/follow/{{poll.id}}" id="follow">Follow/Unfollow</a>

{% endblock %}
