{% extends 'layout.html' %}

{% block content %}

  <h1>Active Polls</h1>
  {% for poll in active_polls %}

      <div class="activepoll">
        <h4><a href="/stream/{{poll.hashcode}}">{{poll.question}}</a> </h4>
        <small class="activesmall">By: {{poll.created_by_user}}</small> 
        <small class="activesmall">Poll Expires: {{poll.expiration_date.strftime('%m/%d/%Y')}}</small>
      </div>

  {% endfor %}

  <h1>Expired Polls</h1>

  {% for poll in expired_polls %} 

      <div class="expiredpoll">
        <h4><a href="/stream/{{poll.hashcode}}">{{poll.question}}</a> <small> By: {{poll.created_by_user}}</small></h4>
      </div>

  {% endfor %}

{% endblock %}
